<div class= "jumbotron center">
	<h1>Welcome to the League</h1>
	<%= link_to "YYYYYYYYYEEEEEEEE", "#", class: "btn btn-primary" %>
	<p>
		<%= link_to "loaf in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "spry up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>